/*
 * Globals
 */


/* Custom default button */
#open-login-btn,
#btn-login:hover,
#btn-login:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  margin-left: 20px;
}

#logout-btn,
#btn-logout:hover,
#btn-logout:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  margin-left: 20px;
}

div.user-action-buttons button{
  margin: 10px;
}

.hide{
  display: none;
}

/*
 * Base structure
 */

body {
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

.cover-container {
  max-width: 42em;
}

/*
 * Header
 */
.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}


.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

.wrap-panel{
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card{
  margin: 10px;
  color: 'black';
}

.card-text{
  display: block;
}

.justify-content-right {
  justify-content: right!important;
}